*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
.project:nth-child(1n) {
    background-color: #ffe3c5;
}

.project:nth-child(2n) {
    background-color: #e7d1e7;
}

.project:nth-child(3n) {
    background-color: #ffadd4;
}

.project:nth-child(4n) {
    background-color: #cb96ff;
}
header{
    width: 100%;
    background-color: var(--tfxBlue);
    margin-bottom: 25px;
}
.title{
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.container{
    position: relative;
}
#projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project{
    width: 25%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:25px;
    margin-right:25px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px 2px var(--tfxBlue);
}
.projectText{
    width: 50px;
    height: 50px;
    text-align: center;
    outline: none;
    caret-color: transparent;
    margin: 5px;
    border: 2px solid var(--black);
}
.project h1{
    font-size: 1.5em;
}

#bottomButtons{
    display: flex;
    bottom: 0;
    right: 10px;
    position: fixed;
    flex-direction: row-reverse;
}
.fixedBtn{
    background-color: var(--tfxBlue);
    color: var(--white);
    font-size: bold;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 5px;
}
.pdfLayout{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.pdfLayout section{
    margin: 10px 0;
    margin-right: 10px;
}
.pdfLayout section h2{
    border-bottom: 2px solid var(--tfxBlue);
    color: var(--tfxBlue);
    font-weight: bolder;
    margin-bottom: 10px;
}
.hostnameLayout{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hostnameLayout table{
    width: 60%;
    border-collapse: collapse;
    margin-top: 35px;
}
.hostnameLayout table td{
    border: 3px solid var(--white);
    padding: 15px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    font-size: 1.2em;
}